.rowButtonmatrix{
    margin: 20px  ;
    
}
.buttonmatrix{
    padding: 0 20px;
}
.matrix{
    padding: 0 40px;
    
}
.colInput{
    padding: 5px 5px 5px 0px
}
.titlematrix{
    padding : 0 40px
}
.showdata{
    margin-top: 40px;
}