@import '~antd/dist/antd.css';
.App{
  min-height: 100vh;
  background-color: rgb(140, 204, 207);
}
.content{
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  min-height: 100vh;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 50%), 0 6px 20px 0 rgb(0 0 0 / 50%) !important;
}